/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.itemForm {
  margin: 3px
}

@media (max-width:480px) {
  .hidden-phone {
    display: block;
  }

  .show-desktop {
    display: none;
  }
}

@media (min-width:480px) {
  .hidden-phone {
    display: none;
  }

  .show-desktop {
    display: block;
  }
}