<div class="jumbotron jumbotron-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <h1 class="display-6">Cadastro de Padrinhos </h1>
        <p class="lead">Estes serão nossos novos membros ...</p>
    </div>
</div>

<form class="form-horizontal" id="buscarPadrinho" ng-show="mode === 1 || mode === 3">
    <div class="row" >
        <div class="form-group col-6">
            <label for="edtNomeBusca">Busca: </label>
            <input type="text" class="form-control" id="edtNomeBusca" ng-model="termoBusca" placeholder="Nome do padrinho ( humano ou Dr. )">
        </div>

        <div class="form-group col-6">
            <label for="edtNomeBusca"></label>
            <br/>
            <button class="btn btn-success" ng-click="buscarPadrinho(termoBusca)">
                Buscar
            </button>
            <button class="btn btn-primary" ng-click="mode = 2">Novo</button>
        </div>
    </div>
</form>

<form class="form-horizontal hidden-phone show-desktop" id="novoPadrinho" ng-show="mode === 2 || mode === 4">

    <div class="card">
        <h5 class="card-header">Nomes</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">

                <div class="form-group col-6">
                    <label for="edtNomeHumano">Humano: </label>
                    <input type="text" class="form-control" id="edtNomeHumano" ng-model="data.humano" placeholder="Nome de Humano">
                </div>

                <div class="form-group col-6">
                    <label for="edtNomePalhaco">Palhaço, Dr(a):</label>
                    <input type="text" class="form-control" id="edtNomePalhaco" ng-model="data.palhaco" placeholder="Nome de Palhaço">
                </div>
            </div>
        </div>
    </div> <!-- NOMES -->

    <br/>

    <div class="card">
        <h5 class="card-header">Documentos</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">
                <div class="form-group col-6">
                    <label for="edtCPF">CPF: </label>
                    <input type="text" class="form-control" id="edtCPF" ng-model="data.cpf" placeholder="CPF">
                </div>

                <div class="form-group col-6">
                    <label for="edtRG">RG: </label>
                    <input type="text" class="form-control" id="edtRG" ng-model="data.rg" placeholder="RG">
                </div>
            </div>
        </div>
    </div> <!-- DOCUMENTOS -->

    <br/>
    <div class="card">
        <h5 class="card-header">Redes sociais</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">
                <div class="form-group col-4">
                    <label for="edtFacebook">Facebook: </label>
                    <input type="text" class="form-control" id="edtFacebook" ng-model="data.facebook" placeholder="Facebook">
                </div>

                <div class="form-group col-4">
                    <label for="edtInstagram">Instagram: </label>
                    <input type="text" class="form-control" id="edtInstagram" ng-model="data.instagram" placeholder="Instagram">
                </div>

                <div class="form-group col-4">
                    <label for="edtSkype">Skype: </label>
                    <input type="text" class="form-control" id="edtSkype" ng-model="data.skype" placeholder="Skype">
                </div>

            </div>
        </div>
    </div>

    <br/>

    <div class="card">
        <h5 class="card-header">Localização</h5>
        <div class="card-block">

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtEndereco">Endereço: </label>
                    <input type="text" class="form-control" id="edtEndereco" ng-model="data.endereco" placeholder="Endereço">
                </div>

                <div class="form-group col-4">
                    <label for="edtComplemento">Complemento: </label>
                    <input type="text" class="form-control" id="edtComplemento" ng-model="data.complemento" placeholder="Complemento">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtBairro">Bairro: </label>
                    <input type="text" class="form-control" id="edtBairro" ng-model="data.bairro" placeholder="Bairro">
                </div>

                <div class="form-group col-4">
                    <label for="edtCEP">CEP: </label>
                    <input type="text" class="form-control" id="edtCEP" ng-model="data.CEP" placeholder="CEP">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCidade">Cidade: </label>
                    <input type="text" class="form-control" id="edtCidade" ng-model="data.cidade" placeholder="Cidade">
                </div>

                <div class="form-group col-4">
                    <label for="edtEstado">Estado: </label>
                    <input type="text" class="form-control" id="edtEstado" ng-model="data.estado" placeholder="Estado">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-12">
                    <label for="formControlCentral">Central: </label>
                    <select class="form-control" id="formControlCentral" ng-model="data.central"
                            ng-change="retornarCelulas()">
                        <option value="0">0 - Nenhum</option>
                        <option value="1" >1 - São Paulo</option>
                        <option value="2" >2 - Rio de Janeiro</option>
                        <option value="3" >3 - São José dos Campos</option>
                        <option value="4" >4 - Mogi Mirim / Mogi Guaçu</option>
                        <option value="5" >5 - Idaiatuba</option>
                    </select>
                </div>
            </div>
        </div>
    </div> <!-- LOCALIZAÇÃO -->

    <br/>

    <div class="card">
        <h5 class="card-header">Visitas de padrinho</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCelulaHospital">Hospital: </label>

                    <select class="form-control" ng-model="data.celulaIdHospital" id="edtCelulaHospital">
                        <option ng-repeat="value in listaHospital" value="{{value.id}}">
                            {{value.nome}} -> "{{value.entidadeNome}}"
                        </option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label for="dtCelulaHospital"></label>
                    <input type="date" class="form-control" id="dtCelulaHospital" ng-model="data.dtCelulaHospital" placeholder="Célula">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCelulaAsilo">Asilo: </label>
                    <select class="form-control" ng-model="data.celulaIdAsilo" id="edtCelulaAsilo">
                        <option ng-repeat="value in listaAsilo" value="{{value.id}}">
                            {{value.nome}} -> "{{value.entidadeNome}}"
                        </option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label for="dtCelulaAsilo"></label>
                    <input type="date" class="form-control" id="dtCelulaAsilo" ng-model="data.dtCelulaAsilo" placeholder="Célula">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCelulaAbrigo">Abrigo: </label>
                    <select class="form-control" ng-model="data.celulaIdAbrigo" id="edtCelulaAbrigo">
                        <option ng-repeat="value in listaAbrigo" value="{{value.id}}">
                            {{value.nome}} -> "{{value.entidadeNome}}"
                        </option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label for="dtCelulaAbrigo"></label>
                    <input type="date" class="form-control" id="dtCelulaAbrigo" ng-model="data.dtCelulaAbrigo" placeholder="Célula">
                </div>
            </div>
        </div>
    </div> <!-- VISITAS -->

    <br/>

    <div class="card">
        <h5 class="card-header">Comunicação</h5>
        <div class="card-block">

            <div class="row" style="margin: 3px">
                <div class="form-group col-6">
                    <label for="edtTelResidencial">Tel. Residêncial: </label>
                    <input type="tel" class="form-control" id="edtTelResidencial" ng-model="data.telResidencial" ui-mask="(99) 9999-9999">
                </div>

                <div class="form-group col-6">
                    <label for="edtTelCelular">Tel. Celular: </label>
                    <input type="tel" class="form-control" id="edtTelCelular" ng-model="data.celular" ui-mask="(99) 99999-9999">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-6">
                    <label for="edtProdfissao">Profissão : </label>
                    <input type="text" class="form-control" id="edtProdfissao" ng-model="data.profissao" placeholder="Profissão">
                </div>

                <div class="form-group col-6">
                    <label for="edtEmpresa">Empresa : </label>
                    <input type="text" class="form-control" id="edtEmpresa" ng-model="data.empresa" placeholder="Empresa">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-12">
                    <label for="edtEmail">E-Mail : </label>
                    <input type="email" class="form-control" id="edtEmail" ng-model="data.email" placeholder="E-Mail">
                </div>
            </div>

        </div>
    </div> <!-- COMUNICAÇÃO -->

    <br/>


    <div class="card">
        <h5 class="card-header">Datas importantes</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">
                <div class="form-group col-4">
                    <label for="dtaAniversario">Data aniversário: </label>
                    <input type="date" class="form-control" id="dtaAniversario" ng-model="data.dataAniversario" placeholder="Data Aniversário">
                </div>

                <div class="form-group col-4">
                    <label for="dtaEntradaONG">Data entrada ONG: </label>
                    <input type="date" class="form-control" id="dtaEntradaONG" ng-model="data.dataEntradaONG" placeholder="Data Entrada na ONG">
                </div>

                <div class="form-group col-4">
                    <label for="dtaCadastro">Data cadastro: </label>
                    <input type="date" class="form-control" id="dtaCadastro"
                           ng-model="data.dataCadastro" ng-disabled="mode != 1"
                           placeholder="Data Cadastro">
                </div>

            </div>
        </div>
    </div>

    <br/>

    <div class="card">
        <h5 class="card-header">Entrevistas</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="entrevistaInicial">Entrevista inicial: </label>
                    <textarea class="form-control" rows="10" maxlength="4000" id="entrevistaInicial"
                              ng-model="data.entrevista" placeholder="Entrevista Inicial"></textarea>
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="entrevistaHospital">Entrevista Hospital: </label>
                    <textarea rows="10" class="form-control" maxlength="4000" id="entrevistaHospital"
                              ng-model="data.feedbackHospital" placeholder="Entrevista Hospital"></textarea>
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="entrevistaAsilo">Entrevista Asilo: </label>
                    <textarea rows="10" class="form-control"s maxlength="4000" id="entrevistaAsilo"
                              ng-model="data.feedbackAsilo" placeholder="Entrevista Asilo"></textarea>
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="entrevistaAbrigo">Entrevista Abrigo: </label>
                    <textarea rows="10" class="form-control" maxlength="4000" id="entrevistaAbrigo"
                              ng-model="data.feedbackAbrigo" placeholder="Entrevista Abrigo"></textarea>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-offset-3">
            &nbsp;
        </div>

        <button class="btn btn-lg btn-success col-lg-4" ng-click="salvarPadrinhoRequest()">
            Salvar
        </button>
    </div>
</form>

<form class="form-horizontal hidden-phone" id="novoPadrinhoPhone" ng-show="mode === 2 || mode === 4">

    <div class="card">
        <h5 class="card-header">Nomes</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtNomeHumanoPhone">Humano: </label>
                    <input type="text" class="form-control" id="edtNomeHumanoPhone" ng-model="data.humano" placeholder="Nome de Humano">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtNomePalhacoPhone">Palhaço, Dr(a):</label>
                    <input type="text" class="form-control" id="edtNomePalhacoPhone" ng-model="data.palhaco" placeholder="Nome de Palhaço">
                </div>
            </div>
        </div>
    </div> <!-- NOMES -->

    <br/>

    <div class="card">
        <h5 class="card-header">Documentos</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCPFPhone">CPF: </label>
                    <input type="text" class="form-control" id="edtCPFPhone" ng-model="data.cpf" placeholder="CPF">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtRGPhone">RG: </label>
                    <input type="text" class="form-control" id="edtRGPhone" ng-model="data.rg" placeholder="RG">
                </div>
            </div>
        </div>
    </div> <!-- DOCUMENTOS -->

    <br/>
    <div class="card">
        <h5 class="card-header">Redes sociais</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtFacebookPhone">Facebook: </label>
                    <input type="text" class="form-control" id="edtFacebookPhone" ng-model="data.facebook" placeholder="Facebook">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtInstagramPhone">Instagram: </label>
                    <input type="text" class="form-control" id="edtInstagramPhone" ng-model="data.instagram" placeholder="Instagram">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtSkypePhone">Skype: </label>
                    <input type="text" class="form-control" id="edtSkypePhone" ng-model="data.skype" placeholder="Skype">
                </div>
            </div>
        </div>
    </div> <!-- REDES SOCIAIS -->

    <br/>

    <div class="card">
        <h5 class="card-header">Localização</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtEnderecoPhone">Endereço: </label>
                    <input type="text" class="form-control" id="edtEnderecoPhone" ng-model="data.endereco" placeholder="Endereço">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtComplementoPhone">Complemento: </label>
                    <input type="text" class="form-control" id="edtComplementoPhone" ng-model="data.complemento" placeholder="Complemento">
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtBairroPhone">Bairro: </label>
                    <input type="text" class="form-control" id="edtBairroPhone" ng-model="data.bairro" placeholder="Bairro">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCEPPhone">CEP: </label>
                    <input type="text" class="form-control" id="edtCEPPhone" ng-model="data.CEP" placeholder="CEP">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCidadePhone">Cidade: </label>
                    <input type="text" class="form-control" id="edtCidadePhone" ng-model="data.cidade" placeholder="Cidade">
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtEstadoPhone">Estado: </label>
                    <input type="text" class="form-control" id="edtEstadoPhone" ng-model="data.estado" placeholder="Estado">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="formControlCentral">Central: </label>
                    <select class="form-control" id="formControlCentralPhone" ng-model="data.central"
                            ng-change="retornarCelulas()">
                        <option value="0">0 - Nenhum</option>
                        <option value="1" >1 - São Paulo</option>
                        <option value="2" >2 - Rio de Janeiro</option>
                        <option value="3" >3 - São José dos Campos</option>
                        <option value="4" >4 - Mogi Mirim / Mogi Guaçu</option>
                        <option value="5" >5 - Idaiatuba</option>
                    </select>
                </div>
            </div>
        </div>
    </div> <!-- LOCALIZAÇÃO -->

    <br/>

    <div class="card">
        <h5 class="card-header">Visitas de padrinho</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCelulaHospitalPhone">Hospital: </label>
                    <select class="form-control" ng-model="data.celulaIdHospital" id="edtCelulaHospitalPhone">
                        <option ng-repeat="value in listaHospital" value="{{value.id}}">
                            {{value.nome}} -> "{{value.entidadeNome}}"
                        </option>
                    </select>
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="dtCelulaHospitalPhone">Data visita hospital:</label>
                    <input type="date" class="form-control" id="dtCelulaHospitalPhone" ng-model="data.dtCelulaHospital" placeholder="Célula">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCelulaAsiloPhone">Asilo: </label>
                    <select class="form-control" ng-model="data.celulaIdAsilo" id="edtCelulaAsiloPhone">
                        <option ng-repeat="value in listaAsilo" value="{{value.id}}">
                            {{value.nome}} -> "{{value.entidadeNome}}"
                        </option>
                    </select>
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="dtCelulaAsiloPhone">Data visita asilo:</label>
                    <input type="date" class="form-control" id="dtCelulaAsiloPhone" ng-model="data.dtCelulaAsilo" placeholder="Célula">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCelulaAbrigoPhone">Abrigo: </label>
                    <select class="form-control" ng-model="data.celulaIdAbrigo" id="edtCelulaAbrigoPhone">
                        <option ng-repeat="value in listaAbrigo" value="{{value.id}}">
                            {{value.nome}} -> "{{value.entidadeNome}}"
                        </option>
                    </select>
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="dtCelulaAbrigoPhone">Data visita abrigo:</label>
                    <input type="date" class="form-control" id="dtCelulaAbrigoPhone" ng-model="data.dtCelulaAbrigo" placeholder="Célula">
                </div>
            </div>
        </div>
    </div> <!-- VISITAS DE PADRINHO -->

    <br/>

    <div class="card">
        <h5 class="card-header">Comunicação</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtTelResidencialPhone">Tel. Residêncial: </label>
                    <input type="tel" class="form-control" id="edtTelResidencialPhone" ng-model="data.telResidencial" ui-mask="(99) 9999-9999">
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtTelCelular">Tel. Celular: </label>
                    <input type="tel" class="form-control" id="edtTelCelularPhone" ng-model="data.celular" ui-mask="(99) 99999-9999">
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtProdfissaoPhone">Profissão : </label>
                    <input type="text" class="form-control" id="edtProdfissaoPhone" ng-model="data.profissao" placeholder="Profissão">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-6">
                    <label for="edtEmpresaPhone">Empresa : </label>
                    <input type="text" class="form-control" id="edtEmpresaPhone" ng-model="data.empresa" placeholder="Empresa">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtEmailPhone">E-Mail : </label>
                    <input type="email" class="form-control" id="edtEmailPhone" ng-model="data.email" placeholder="E-Mail">
                </div>
            </div>

        </div>
    </div> <!-- COMUNICAÇÃO -->

    <br/>


    <div class="card">
        <h5 class="card-header">Datas importantes</h5>
        <div class="card-block">


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="dtaAniversario">Data aniversário: </label>
                    <input type="date" class="form-control" id="dtaAniversarioPhone" ng-model="data.dataAniversario" placeholder="Data Aniversário">
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="dtaEntradaONG">Data entrada ONG: </label>
                    <input type="date" class="form-control" id="dtaEntradaONGPhone" ng-model="data.dataEntradaONG" placeholder="Data Entrada na ONG">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="dtaCadastro">Data cadastro: </label>
                    <input type="date" class="form-control" id="dtaCadastroPhone" ng-model="data.dataCadastro" ng-disabled="mode != 1"
                           placeholder="Data Cadastro">
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card">
        <h5 class="card-header">Entrevistas</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="entrevistaInicialPhone">Entrevista inicial: </label>
                    <textarea class="form-control" rows="10" maxlength="4000" id="entrevistaInicialPhone"
                              ng-model="data.entrevista" placeholder="Entrevista Inicial"></textarea>
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="entrevistaHospitalPhone">Entrevista Hospital: </label>
                    <textarea rows="10" class="form-control" maxlength="4000" id="entrevistaHospitalPhone"
                              ng-model="data.feedbackHospital" placeholder="Entrevista Hospital"></textarea>
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="entrevistaAsiloPhone">Entrevista Asilo: </label>
                    <textarea rows="10" class="form-control"s maxlength="4000" id="entrevistaAsiloPhone"
                              ng-model="data.feedbackAsilo" placeholder="Entrevista Asilo"></textarea>
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="entrevistaAbrigoPhone">Entrevista Abrigo: </label>
                    <textarea rows="10" class="form-control" maxlength="4000" id="entrevistaAbrigoPhone"
                              ng-model="data.feedbackAbrigo" placeholder="Entrevista Abrigo"></textarea>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-offset-3">
            &nbsp;
        </div>

        <button class="btn btn-lg btn-success col-lg-4" ng-click="salvarPadrinhoRequest()">
            Salvar
        </button>
    </div>
</form>

<div id="listaPadrinhos" ng-show="mode === 3">
    <table class="table">
        <thead>
        <tr>
            <th>Humano</th>
            <th>Palhaço</th>
            <th>Celular / Telefone</th>
            <th></th>
        </thead>
        <tbody>

        <tr ng-repeat="padrinho in retornoBusca">
            <td>
                <a href="#!/padrinhos/{{padrinho.id}}">
                    {{ padrinho.humano }}
                </a>
            </td>
            <td>{{ padrinho.palhaco }}</td>
            <td>
                <span class="hidden-phone">
                    <span ng-if="padrinho.celular != null && padrinho.celular != ''">
                        <a href="tel:{{ padrinho.celular }}">{{ padrinho.celular }}</a>
                    </span>

                    <span ng-if="padrinho.celular == '' || padrinho.celular == null">
                        <a href="tel:{{ padrinho.telResidencial }}">{{ padrinho.telResidencial }}</a>
                    </span>
                </span>

                <span class="show-desktop">
                    <span ng-if="padrinho.celular != null && padrinho.celular != ''">
                        {{ padrinho.celular }}
                    </span>

                    <span ng-if="padrinho.celular == '' || padrinho.celular == null">
                        {{ padrinho.telResidencial }}
                    </span>

                </span>

            </td>
        </tr>
        </tbody>
    </table>

</div>
<br/>
<br/>
<br/><br/><br/><br/><br/>