<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">Cadastro de presentalhaços </h1>
        <p class="lead">Estes são nossos heróis, nossos PRESENTALHAÇOS... </p>
    </div>
</div>

<form class="form-horizontal" id="buscarPalhacos" ng-show="mode === 1 || mode === 3">
    <div class="row" >
        <div class="form-group col-6">
            <label for="edtNomeBusca">Busca: </label>
            <input type="text" class="form-control" id="edtNomeBusca" ng-model="termoBusca" placeholder="Nome do palhaço ( humano ou Dr. )">
        </div>

        <div class="form-group col-6">
            <label for="edtNomeBusca"></label>
            <br/>
            <button class="btn btn-success" ng-click="buscarPalhaco(termoBusca)">
                Buscar
            </button>
            <button class="btn btn-primary" ng-click="mode = 2">Novo</button>
        </div>
    </div>
</form>

<form class="form-horizontal hidden-phone show-desktop" id="novoPalhaco" ng-show="mode === 2 || mode === 4">

    <div class="card">
        <h4 class="card-header">Nomes</h4>
        <div class="card-block">
            <div class="row itemForm">

                <!--
                <div class="col-2">
                    <img src="http://alessandrafaria.com/wp-content/uploads/2013/10/formato-de-rosto-redondo.jpg"
                         width="90" height="110"
                         class="rounded-circle">
                </div>-->

                <div class="form-group col-6">
                    <label for="edtNomeHumano">Humano: </label>
                    <input type="text" class="form-control" id="edtNomeHumano"
                           ng-model="data.humano" placeholder="Nome de Humano">
                </div>

                <div class="form-group col-6">
                    <label for="edtNomePalhaco">Palhaço, Dr(a):</label>
                    <input type="text" class="form-control" id="edtNomePalhaco"
                           ng-model="data.palhaco" placeholder="Nome de Palhaço">
                </div>
            </div>
        </div>
    </div> <!-- NOMES -->

    <br/>

    <div class="card">
        <h5 class="card-header">Documentos</h5>
        <div class="card-block">
            <div class="row itemForm">
                <div class="form-group col-6">
                    <label for="edtCPF">CPF: </label>
                    <input type="text" class="form-control" id="edtCPF"
                           ng-model="data.cpf" placeholder="CPF">
                </div>

                <div class="form-group col-6">
                    <label for="edtRG">RG: </label>
                    <input type="text" class="form-control" id="edtRG"
                           ng-model="data.rg" placeholder="RG">
                </div>
            </div>
        </div>
    </div> <!-- DOCUMENTOS -->

    <br/>

    <div class="card">
        <h5 class="card-header">Célula</h5>
        <div class="card-block">
            <div class="row itemForm">
                <div class="form-group col-4">
                    <label for="formControlCentral">Central: </label>
                    <select class="form-control" id="formControlCentral" ng-model="data.central"
                            ng-change="selecionarEntidade()">
                        <option value="0">0 - Nenhum</option>
                        <option value="1" >1 - São Paulo</option>
                        <option value="2" >2 - Rio de Janeiro</option>
                        <option value="3" >3 - São José dos Campos</option>
                        <option value="4" >4 - Mogi Mirim / Mogi Guaçu</option>
                        <option value="5" >5 - Idaiatuba</option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label for="formControlCentral">Entidade: </label>
                    <select class="form-control" ng-model="data.entidadeId"
                            ng-change="selecionarCelulas()" >
                        <option ng-repeat="value in listaEntidades" value="{{value.id}}">
                            {{value.nome}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label for="formControlCentral">Celula: </label>
                    <select class="form-control" ng-model="data.celulaId">
                        <option ng-repeat="value in listaCelulas" value="{{value.id}}">
                            {{value.nome}}
                        </option>
                    </select>
                </div>
            </div>
            </div>
        </div>
    </div> <!-- CELULA -->

    <br/>

    <div class="card">
        <h5 class="card-header">Localização</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-8">
                    <label for="edtEndereco">Endereço: </label>
                    <input type="text" class="form-control" id="edtEndereco"
                           ng-model="data.endereco" placeholder="Endereço">
                </div>

                <div class="form-group col-4">
                    <label for="edtComplemento">Complemento: </label>
                    <input type="text" class="form-control" id="edtComplemento"
                           ng-model="data.complemento" placeholder="Complemento">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-8">
                    <label for="edtBairro">Bairro: </label>
                    <input type="text" class="form-control" id="edtBairro"
                           ng-model="data.bairro"  placeholder="Bairro">
                </div>

                <div class="form-group col-4">
                    <label for="edtCEP">CEP: </label>
                    <input type="text" class="form-control" id="edtCEP"
                           ng-model="data.CEP" placeholder="CEP">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-8">
                    <label for="edtCidade">Cidade: </label>
                    <input type="text" class="form-control" id="edtCidade"
                           ng-model="data.cidade" placeholder="Cidade">
                </div>

                <div class="form-group col-4">
                    <label for="edtEstado">Estado: </label>
                    <input type="text" class="form-control" id="edtEstado"
                           ng-model="data.estado" placeholder="Estado">
                </div>
            </div>
        </div>
    </div> <!-- LOCALIZAÇÃO -->

    <br/>

    <div class="card">
        <h5 class="card-header">Comunicação</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-6">
                    <label for="edtTelResidencial">Tel. Residêncial: </label>
                    <input type="text" class="form-control" id="edtTelResidencial"
                           ng-model="data.telefone" ui-mask="(99) 9999-9999">
                </div>

                <div class="form-group col-6">
                    <label for="edtTelCelular">Tel. Celular: </label>
                    <input type="text" class="form-control" id="edtTelCelular"
                           ng-model="data.celular" ui-mask="(99) 99999-9999">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-6">
                    <label for="edtProfissao">Profissão : </label>
                    <input type="text" class="form-control" id="edtProfissao"
                           ng-model="data.profissao" placeholder="Profissão">
                </div>

                <div class="form-group col-6">
                    <label for="edtEmpresa">Empresa : </label>
                    <input type="text" class="form-control" id="edtEmpresa"
                           ng-model="data.empresa" placeholder="Empresa">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-12">
                    <label for="edtEmail">E-Mail : </label>
                    <input type="text" class="form-control" id="edtEmail"
                           ng-model="data.email" placeholder="E-Mail">
                </div>
            </div>

        </div>
    </div> <!-- COMUNICAÇÃO -->
    <!--
        <br/>


        <div class="card">
            <h5 class="card-header">Oficina</h5>
            <div class="card-block">
                <div class="row" style="margin: 3px">
                    <div class="form-group col-8">
                        <label for="edtOficinaBasica">Básica: </label>
                        <input type="text" class="form-control" id="edtOficinaBasica"
                               ng-model="data.oficinaBasica" placeholder="Oficina Básica">
                    </div>

                    <div class="form-group col-4">
                        <label for="dtaOficinaBasica">Data: </label>
                        <input type="date" class="form-control" id="dtaOficinaBasica"
                               ng-model="data.oficinaBasicaDta" placeholder="Oficina Básica">
                    </div>
                </div>

                <div class="row" style="margin: 3px">
                    <div class="form-group col-8">
                        <label for="edtOficinaIntermediaria">Intermediária: </label>
                        <input type="text" class="form-control" id="edtOficinaIntermediaria"
                               ng-model="data.oficinaIntermediaria" placeholder="Oficina Intermediária">
                    </div>

                    <div class="form-group col-4">
                        <label for="dtaOficinaIntermediaria">Data: </label>
                        <input type="date" class="form-control" id="dtaOficinaIntermediaria"
                               ng-model="data.oficinaIntermediariaDta" placeholder="Oficina Intermediária">
                    </div>
                </div>

                <div class="row" style="margin: 3px">
                    <div class="form-group col-8">
                        <label for="edtOficinaAvancada">Avançada: </label>
                        <input type="text" class="form-control" id="edtOficinaAvancada"
                               ng-model="data.oficinaAvancada" placeholder="Oficina Avançada">
                    </div>

                    <div class="form-group col-4">
                        <label for="dtaOficinaAvancada">Data: </label>
                        <input type="date" class="form-control" id="dtaOficinaAvancada"
                               ng-model="data.oficinaAvancadaDta" placeholder="Oficina Avançada">
                    </div>
                </div>
            </div>
        </div> <!-- OFICINAS -->

    <br/>

    <div class="card">
        <h5 class="card-header">Datas importantes</h5>
        <div class="card-block">
            <div class="row itemForm">
                <div class="form-group col-4">
                    <label for="dtaAniversario">Data Aniversário: </label>
                    <input type="date" class="form-control" id="dtaAniversario"
                           ng-model="data.dataAniversario" placeholder="Data Aniversário">
                </div>

                <div class="form-group col-4">
                    <label for="dtaEntradaONG">Data entrada ONG: </label>
                    <input type="date" class="form-control" id="dtaEntradaONG"
                           ng-model="data.dataEntradaONG" placeholder="Data Entrada na ONG">
                </div>

                <div class="form-group col-4">
                    <label for="dtaCadastro">Data cadastro: </label>
                    <input type="date" class="form-control" id="dtaCadastro"
                           ng-model="data.dataCadastro" ng-disabled="mode != 1" placeholder="Data Cadastro">
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card">
        <h5 class="card-header">Função</h5>
        <div class="card-block">
            <div class="form-group col-12">
                <label for="edtFuncao">Função : </label>
                <select class="form-control" id="edtFuncao" ng-model="data.funcao">
                    <option>0 - Nenhum</option>
                    <option>1 - Palhaço</option>
                    <option>2 - Coordenador de célula</option>
                    <option>3 - Sub-Coordenador</option>
                    <option>4 - Diretor de área</option>
                </select>
            </div>
        </div>
    </div>

    <br/>

    <br/>

    <div class="row" style="margin-left: 2px">
        <div class="col-lg-offset-3">
            &nbsp;
        </div>

        <button class="btn btn-lg btn-success col-lg-4" ng-click="salvarPalhacoRequest()">
            Salvar
        </button>
    </div>
</form>

<form class="form-horizontal hidden-phone" id="novoPalhacoTelefone" ng-show="mode === 2 || mode === 4">
    <div class="card">
        <h4 class="card-header">Nomes</h4>
        <div class="card-block">
            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtNomeHumano">Humano: </label>
                    <input type="text" class="form-control" id="edtNomeHumanoPhone"
                           ng-model="data.humano" placeholder="Nome de Humano">
                </div>
            </div>
            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtNomePalhaco">Palhaço, Dr(a):</label>
                    <input type="text" class="form-control" id="edtNomePalhacoPhone"
                           ng-model="data.palhaco" placeholder="Nome de Palhaço">
                </div>
            </div>
        </div>
    </div> <!-- NOMES -->

    <br/>

    <div class="card">
        <h5 class="card-header">Documentos</h5>
        <div class="card-block">
            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCPF">CPF: </label>
                    <input type="text" class="form-control" id="edtCPFPhone"
                           ng-model="data.cpf" placeholder="CPF">
                </div>
            </div>
            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtRG">RG: </label>
                    <input type="text" class="form-control" id="edtRGPhone"
                           ng-model="data.rg" placeholder="RG">
                </div>
            </div>
        </div>
    </div> <!-- DOCUMENTOS -->

    <br/>

    <div class="card">
        <h5 class="card-header">Célula</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="formControlCentral">Central: </label>
                    <select class="form-control" id="formControlCentralPhone" ng-model="data.central"
                            ng-change="selecionarEntidade()">
                        <option value="0">0 - Nenhum</option>
                        <option value="1" >1 - São Paulo</option>
                        <option value="2" >2 - Rio de Janeiro</option>
                        <option value="3" >3 - São José dos Campos</option>
                        <option value="4" >4 - Mogi Mirim / Mogi Guaçu</option>
                        <option value="5" >5 - Idaiatuba</option>
                    </select>
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="formControlCentral">Entidade: </label>
                    <select class="form-control" ng-model="data.entidadeId"
                            ng-change="selecionarCelulas()" >
                        <option ng-repeat="value in listaEntidades" value="{{value.id}}">
                            {{value.nome}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="formControlCentral">Celula: </label>
                    <select class="form-control" ng-model="data.celulaId">
                        <option ng-repeat="value in listaCelulas" value="{{value.id}}">
                            {{value.nome}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    </div> <!-- CELULA -->

    <br/>

    <div class="card">
        <h5 class="card-header">Localização</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtEndereco">Endereço: </label>
                    <input type="text" class="form-control" id="edtEnderecoPhone"
                           ng-model="data.endereco" placeholder="Endereço">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtComplemento">Complemento: </label>
                    <input type="text" class="form-control" id="edtComplementoPhone"
                           ng-model="data.complemento" placeholder="Complemento">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtBairro">Bairro: </label>
                    <input type="text" class="form-control" id="edtBairroPhone"
                           ng-model="data.bairro"  placeholder="Bairro">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCEP">CEP: </label>
                    <input type="text" class="form-control" id="edtCEPPhone"
                           ng-model="data.CEP" placeholder="CEP">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCidade">Cidade: </label>
                    <input type="text" class="form-control" id="edtCidadePhone"
                           ng-model="data.cidade" placeholder="Cidade">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-12">
                    <label for="edtEstado">Estado: </label>
                    <input type="text" class="form-control" id="edtEstadoPhone"
                           ng-model="data.estado" placeholder="Estado">
                </div>
            </div>
        </div>
    </div> <!-- LOCALIZAÇÃO -->

    <br/>

    <div class="card">
        <h5 class="card-header">Comunicação</h5>
        <div class="card-block">


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtTelResidencial">Tel. Residêncial: </label>
                    <input type="text" class="form-control" id="edtTelResidencialPhone"
                           ng-model="data.telefone" ui-mask="(99) 9999-9999">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtTelCelular">Tel. Celular: </label>
                    <input type="text" class="form-control" id="edtTelCelularPhone"
                           ng-model="data.celular" ui-mask="(99) 99999-9999">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtProfissao">Profissão : </label>
                    <input type="text" class="form-control" id="edtProfissaoPhone"
                           ng-model="data.profissao" placeholder="Profissão">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-6">
                    <label for="edtEmpresa">Empresa : </label>
                    <input type="text" class="form-control" id="edtEmpresaPhone"
                           ng-model="data.empresa" placeholder="Empresa">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtEmail">E-Mail : </label>
                    <input type="text" class="form-control" id="edtEmailPhone"
                           ng-model="data.email" placeholder="E-Mail">
                </div>
            </div>

        </div>
    </div> <!-- COMUNICAÇÃO -->
    <!--
        <br/>


        <div class="card">
            <h5 class="card-header">Oficina</h5>
            <div class="card-block">
                <div class="row" style="margin: 3px">
                    <div class="form-group col-8">
                        <label for="edtOficinaBasica">Básica: </label>
                        <input type="text" class="form-control" id="edtOficinaBasica"
                               ng-model="data.oficinaBasica" placeholder="Oficina Básica">
                    </div>

                    <div class="form-group col-4">
                        <label for="dtaOficinaBasica">Data: </label>
                        <input type="date" class="form-control" id="dtaOficinaBasica"
                               ng-model="data.oficinaBasicaDta" placeholder="Oficina Básica">
                    </div>
                </div>

                <div class="row" style="margin: 3px">
                    <div class="form-group col-8">
                        <label for="edtOficinaIntermediaria">Intermediária: </label>
                        <input type="text" class="form-control" id="edtOficinaIntermediaria"
                               ng-model="data.oficinaIntermediaria" placeholder="Oficina Intermediária">
                    </div>

                    <div class="form-group col-4">
                        <label for="dtaOficinaIntermediaria">Data: </label>
                        <input type="date" class="form-control" id="dtaOficinaIntermediaria"
                               ng-model="data.oficinaIntermediariaDta" placeholder="Oficina Intermediária">
                    </div>
                </div>

                <div class="row" style="margin: 3px">
                    <div class="form-group col-8">
                        <label for="edtOficinaAvancada">Avançada: </label>
                        <input type="text" class="form-control" id="edtOficinaAvancada"
                               ng-model="data.oficinaAvancada" placeholder="Oficina Avançada">
                    </div>

                    <div class="form-group col-4">
                        <label for="dtaOficinaAvancada">Data: </label>
                        <input type="date" class="form-control" id="dtaOficinaAvancada"
                               ng-model="data.oficinaAvancadaDta" placeholder="Oficina Avançada">
                    </div>
                </div>
            </div>
        </div> <!-- OFICINAS -->

    <br/>

    <div class="card">
        <h5 class="card-header">Datas importantes</h5>
        <div class="card-block">

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="dtaAniversarioPhone">Data Aniversário: </label>
                    <input type="date" class="form-control" id="dtaAniversarioPhone"
                           ng-model="data.dataAniversario" placeholder="Data Aniversário">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="dtaEntradaONGPhone">Data entrada ONG: </label>
                    <input type="date" class="form-control" id="dtaEntradaONGPhone"
                           ng-model="data.dataEntradaONG" placeholder="Data Entrada na ONG">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="dtaCadastroPhone">Data cadastro: </label>
                    <input type="date" class="form-control" id="dtaCadastroPhone"
                           ng-model="data.dataCadastro" ng-disabled="mode != 1" placeholder="Data Cadastro">
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card">
        <h5 class="card-header">Função</h5>
        <div class="card-block">
            <div class="form-group col-12">
                <label for="edtFuncao">Função : </label>
                <select class="form-control" id="edtFuncaoPhone" ng-model="data.funcao">
                    <option>0 - Nenhum</option>
                    <option>1 - Palhaço</option>
                    <option>2 - Coordenador de célula</option>
                    <option>3 - Sub-Coordenador</option>
                    <option>4 - Diretor de área</option>
                </select>
            </div>
        </div>
    </div>

    <br/>

    <br/>

    <div class="row" style="margin-left: 2px">
        <div class="col-lg-offset-3">
            &nbsp;
        </div>

        <button class="btn btn-lg btn-success col-lg-4" ng-click="salvarPalhacoRequest()">
            Salvar
        </button>
    </div>
</form>

<div id="listaPalhacos" ng-show="mode === 3">
    <table class="table">
        <thead>
        <tr>
            <th>Humano</th>
            <th>Palhaço</th>
            <th>Celular / Telefone</th>
            <th></th>
        </thead>
        <tbody>

        <tr ng-repeat="palhaco in retornoBusca">
            <td>
                <a href="#!/palhacos/{{palhaco.id}}">
                    {{ palhaco.humano }}
                </a>
            </td>
            <td>{{ palhaco.palhaco }}</td>
            <td>
                <span class="hidden-phone">
                    <span ng-if="palhaco.celular != null && palhaco.celular != ''">
                        <a href="tel:{{ palhaco.celular }}">{{ palhaco.celular }}</a>
                    </span>

                    <span ng-if="palhaco.celular == '' || palhaco.celular == null">
                        <a href="tel:{{ palhaco.telefone }}">{{ palhaco.telefone }}</a>
                    </span>
                </span>

                <span class="show-desktop">
                    <span ng-if="palhaco.celular != null && palhaco.celular != ''">
                        {{ palhaco.celular }}
                    </span>

                    <span ng-if="palhaco.celular == '' || palhaco.celular == null">
                        {{ palhaco.telefone }}
                    </span>

                </span>

            </td>
        </tr>
        </tbody>
    </table>

</div>
<br/>
<br/>
<br/><br/><br/><br/><br/>