<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">Instituição </h1>
        <p class="lead">Este é nosso picadeiro, o espetáculo acontece aqui !</p>
    </div>
</div>

<form class="form-horizontal" id="buscaInstituicao" ng-show="mode === 1 || mode === 3">
    <div class="row" >
        <div class="form-group col-6">
            <label for="edtNomeBusca">Busca: </label>
            <input type="text" class="form-control" id="edtNomeBusca" ng-model="termoBusca" placeholder="Nome da instituição">
        </div>

        <div class="form-group col-6">
            <label for="edtNomeBusca"></label>
            <br/>
            <button class="btn btn-success" ng-click="buscarInstituicao(termoBusca)">
                Buscar
            </button>
            <button class="btn btn-primary" ng-click="mode = 2">Nova</button>
        </div>
    </div>
</form>

<form class="form-horizontal hidden-phone show-desktop" id="novaInstituicao" ng-show="mode === 2 || mode === 4">

    <div class="row">

        <div class="form-group col-12">
            <label for="edtNome">Nome: </label>
            <input type="text" class="form-control" id="edtNome" ng-model="data.nome" placeholder="Nome da Instituição">
        </div>

    </div>

    <div class="row">
        <div class="form-group col-4">
            <label for="edtCPF">Contato: </label>
            <input type="text" class="form-control" id="edtCPF" ng-model="data.contato" placeholder="Contato">
        </div>

        <div class="form-group col-4">
            <label for="edtTelefone">Telefone: </label>
            <input type="tel" class="form-control" id="edtTelefone" ui-mask="(99) 9999-9999" ng-model="data.telefone" >
        </div>

        <div class="form-group col-4">
            <label for="edtEmail">E-Mail: </label>
            <input type="email" class="form-control" id="edtEmail" ng-model="data.email" placeholder="E-Mail">
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Localização</h5>
        <div class="card-block">

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtEndereco">Endereço: </label>
                    <input type="text" class="form-control" id="edtEndereco" ng-model="data.endereco" placeholder="Endereço">
                </div>

                <div class="form-group col-4">
                    <label for="edtComplemento">Complemento: </label>
                    <input type="text" class="form-control" id="edtComplemento" ng-model="data.complemento" placeholder="Complemento">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtBairro">Bairro: </label>
                    <input type="text" class="form-control" id="edtBairro" ng-model="data.bairro" placeholder="Bairro">
                </div>

                <div class="form-group col-4">
                    <label for="edtCEP">CEP: </label>
                    <input type="text" class="form-control" id="edtCEP" ui-mask="99.999-999" ng-model="data.cep">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCidade">Cidade: </label>
                    <input type="text" class="form-control" id="edtCidade" ng-model="data.cidade" placeholder="Cidade">
                </div>

                <div class="form-group col-4">
                    <label for="edtEstado">Estado: </label>
                    <input type="text" class="form-control" id="edtEstado" ng-model="data.estado" placeholder="Estado">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label class="itemForm">Segmento: </label>
                    <table class="table">
                        <tr>
                            <th>
                                <input type="radio" class="form-control" id="edtAsilo" name="dia" ng-model="data.segmento" value="1">
                            </th>
                            <th>
                                Asilo
                            </th>

                        </tr>

                        <tr>
                            <th>
                                <input type="radio" class="form-control" id="edtAbrigo" name="dia" ng-model="data.segmento" value="2">
                            </th>
                            <th>
                                Abrigo
                            </th>

                        </tr>

                        <tr>
                            <th>
                                <input type="radio" class="form-control" id="edtHospital" name="dia" ng-model="data.segmento" value="3">
                            </th>
                            <th>
                                Hospital
                            </th>

                        </tr>

                        <tr>
                            <th>
                                <input type="radio" class="form-control" id="edtOutro" name="dia" ng-model="data.segmento" value="10">
                            </th>
                            <th>
                                Outro
                            </th>

                        </tr>
                    </table>
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-12">
                    <label for="formControlCentral">Central: </label>
                    <select class="form-control" id="formControlCentral" ng-model="data.central">
                        <option value="0">0 - Nenhum</option>
                        <option value="1" >1 - São Paulo</option>
                        <option value="2" >2 - Rio de Janeiro</option>
                        <option value="3" >3 - São José dos Campos</option>
                        <option value="4" >4 - Mogi Mirim / Mogi Guaçu</option>
                        <option value="5" >5 - Idaiatuba</option>
                    </select>
                </div>
            </div>
        </div>
    </div> <!-- LOCALIZAÇÃO -->

    <br/>


    <div class="row" style="margin-left: 2px">
        <div class="col-lg-offset-3">
            &nbsp;
        </div>

        <button class="btn btn-lg btn-success col-lg-4" ng-click="salvarInstitutoRequest()">
            Salvar
        </button>
    </div>

</form>


<form class="form-horizontal hidden-phone" id="novaInstituicaoPhone" ng-show="mode === 2 || mode === 4">

    <div class="row">

        <div class="form-group col-12">
            <label for="edtNomePhone">Nome: </label>
            <input type="text" class="form-control" id="edtNomePhone" ng-model="data.nome" placeholder="Nome da Instituição">
        </div>

    </div>

    <div class="row">
        <div class="form-group col-12">
            <label for="edtContatoPhone">Contato: </label>
            <input type="text" class="form-control" id="edtContatoPhone" ng-model="data.contato" placeholder="Contato">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-12">
            <label for="edtTelefonePhone">Telefone: </label>
            <input type="tel" class="form-control" id="edtTelefonePhone" ui-mask="(99) 9999-9999" ng-model="data.telefone">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-12">
            <label for="edtEmailPhone">E-Mail: </label>
            <input type="email" class="form-control" id="edtEmailPhone" ng-model="data.email" placeholder="E-Mail">
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Localização</h5>
        <div class="card-block">


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtEnderecoPhone">Endereço: </label>
                    <input type="text" class="form-control" id="edtEnderecoPhone" ng-model="data.endereco" placeholder="Endereço">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtComplementoPhone">Complemento: </label>
                    <input type="text" class="form-control" id="edtComplementoPhone" ng-model="data.complemento" placeholder="Complemento">
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtBairroPhone">Bairro: </label>
                    <input type="text" class="form-control" id="edtBairroPhone" ng-model="data.bairro" placeholder="Bairro">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCEPPhone">CEP: </label>
                    <input type="text" class="form-control" id="edtCEPPhone" ui-mask="99.999-999" ng-model="data.cep" >
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtCidadePhone">Cidade: </label>
                    <input type="text" class="form-control" id="edtCidadePhone" ng-model="data.cidade" placeholder="Cidade">
                </div>
            </div>


            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="edtEstadoPhone">Estado: </label>
                    <input type="text" class="form-control" id="edtEstadoPhone" ng-model="data.estado" placeholder="Estado">
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label class="itemForm">Segmento: </label>
                    <table class="table">
                        <tr>
                            <th>
                                <input type="radio" class="form-control" id="edtAsiloPhone" name="dia" ng-model="data.segmento" value="1">
                            </th>
                            <th>
                                Asilo
                            </th>

                        </tr>

                        <tr>
                            <th>
                                <input type="radio" class="form-control" id="edtAbrigoPhone" name="dia" ng-model="data.segmento" value="2">
                            </th>
                            <th>
                                Abrigo
                            </th>

                        </tr>

                        <tr>
                            <th>
                                <input type="radio" class="form-control" id="edtHospitalPhone" name="dia" ng-model="data.segmento" value="3">
                            </th>
                            <th>
                                Hospital
                            </th>

                        </tr>

                        <tr>
                            <th>
                                <input type="radio" class="form-control" id="edtOutroPhone" name="dia" ng-model="data.segmento" value="10">
                            </th>
                            <th>
                                Outro
                            </th>

                        </tr>
                    </table>
                </div>
            </div>

            <div class="row itemForm">
                <div class="form-group col-12">
                    <label for="formControlCentralPhone">Central: </label>
                    <select class="form-control" id="formControlCentralPhone" ng-model="data.central">
                        <option value="0">0 - Nenhum</option>
                        <option value="1" >1 - São Paulo</option>
                        <option value="2" >2 - Rio de Janeiro</option>
                        <option value="3" >3 - São José dos Campos</option>
                        <option value="4" >4 - Mogi Mirim / Mogi Guaçu</option>
                        <option value="5" >5 - Idaiatuba</option>
                    </select>
                </div>
            </div>
        </div>
    </div> <!-- LOCALIZAÇÃO -->

    <br/>


    <div class="row" style="margin-left: 2px">
        <div class="col-lg-offset-3">
            &nbsp;
        </div>

        <button class="btn btn-lg btn-success col-lg-4" ng-click="salvarInstitutoRequest()">
            Salvar
        </button>
    </div>

</form>

<div id="listaInstituicao" ng-show="mode === 3">
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Contato</th>
            <th>Telefone</th>
            <th class="show-desktop">Cidade</th>
            <th>Segmento</th>
        </thead>
        <tbody>

        <tr ng-repeat="instituicao in retornoBusca">
            <td>
                <a href="#!/instituicao/{{instituicao.id}}">
                    {{ instituicao.nome }}
                </a>
            </td>
            <td>{{ instituicao.contato }}</td>
            <td>
                <span class="hidden-phone">
                    <a href="tel:{{ instituicao.telefone }}">{{ instituicao.telefone }}</a>
                </span>

                <span class="show-desktop">
                    {{ instituicao.telefone }}
                </span>

            </td>
            <td class="show-desktop">{{ instituicao.cidade }}</td>

            <td>{{ instituicao.segmento }}</td>
        </tr>

        </tbody>
    </table>

</div>


<br/>
<br/>
<br/><br/><br/><br/><br/>